<div class="row img">
    <img src="{{post?.img}}">
</div>
<div class="row text">
    <div class="author-and-date">
        <span>{{post?.author}}</span>
    </div>
    <div class="title">
        <span > {{post?.title}}</span>
    </div>
    <div class="description">
        <span> {{post?.description}}</span>
    </div>
    <div class="categories">
        <div class="categorie" *ngFor="let tag of post?.tags">
            <span>{{tag | capitalizeFirstLetter}}</span>
        </div>
    </div>  
</div>
