<div class="row sign_up">
    <div class="col-md-8">
        <h4>Sign Up to our newsletter</h4>
        <h6>Stay up to date with the latest news, announcements,and articles</h6>
    </div>
    <div class="col-md-4 subscribe">
        <div> <input type="text" placeholder="Enter your email"> </div>
        <div> <button type="button" class="btn">Subscribe</button> </div>
    </div>
</div>
<div class="row menu">
    <div class="col-md-3" style="margin-top: auto;margin-bottom: auto;">
        <div style="margin-bottom: 3%;">
            <i class="fa-regular fa-circle"></i>
            <span style="font-weight: bold;"> Untitled Ui</span> 
        </div>
        <div style="font-size: small; color: rgb(116, 116, 116); font-weight: 600;">
            <span> Design amazing digital experiences that create more happy in the world </span>
        </div>
    </div>
    <div class="col-md-9"  style="margin-top: auto; margin-bottom: auto;">
        <app-bottom-menu></app-bottom-menu>
    </div>
</div>
<div class="row networking">
    <div class="col-md-10" style="margin-top: auto;margin-bottom: auto;">
        <span style="font-size: small; font-weight: 600;"> © 2077 Untitled UI. All rights reserved </span>
    </div>
    <div class="col-md-2" style="margin-top: auto;margin-bottom: auto;">
        <div class="social-networks">
            <a><i class="fa-brands fa-twitter"></i></a>
            <a><i class="fa-brands fa-linkedin"></i></a>
            <a><i class="fa-brands fa-facebook"></i></a>
            <a><i class="fa-brands fa-github"></i></a>
        </div> 
    </div>
</div>
