<div class="row title">
    <h4>Recent blog posts</h4>
</div>
<div class="row content">
    <div class="col-md-6">
        <app-recent-big-card></app-recent-big-card>
    </div>
    <div class="col-md-6">
        <div class="row recent-card">
            <app-recent-card></app-recent-card>
        </div>
        <div class="row recent-card">
            <app-recent-card></app-recent-card>
        </div>
        <div class="row recent-card">
            <app-recent-card></app-recent-card>
        </div>
    </div>
</div>
