
:host {
    height: 100%;
}
div.title {
    display: flex;
    height: 5%;
    align-items: center;
}
div.title > h4 {
    margin-left: 1%;
    font-size: medium;
    font-weight: 700;
}

div.content{
    height: 85%;
}

div.paginas {
    height: 10%;
}

div.card_post {
    width: 33.333%;
}
