div {
    border: 1px solid black;
}
:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.title {
    height: 10%;
    align-items: center;
}

div.title > h4 {
    font-size: medium;
    margin-left: 2%;
}

div.content{
    height: 90%;
}

div.recent-card {
    height: 33.3333%;
}