<div class="row">
    <div class="col-md-6 col-12 img">    
        <img src="{{post?.img}}">     
    </div>
    <div class="col-md-6 col-12 text">
        <span class="author-and-date">{{post?.author}}</span>
        <span class="title"> {{post?.title}}</span>
        <span class="description"> {{post?.description}} </span>
        <div class="categories">
            <div class="categorie" *ngFor = "let tag of post?.tags">
                <span class="categorie" >{{tag | capitalizeFirstLetter}}</span>
            </div>
        </div>
    </div>
</div>


